body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #000000;
  color: #cd1818;
}

img {
  width: 50%;
  align-self: center;
  border: 5px solid #cd1818;
  margin-top: 20px;
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: underline;
}

h1 b {
  font-weight: 900;
  font-size: 3rem;
  text-decoration: none;
}

p {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  margin-top: 1px;
}
